<h1>Upcoming Meetings</h1>
<%= for meeting <- @upcoming_meetings do %>
    <%= live_redirect meeting.name, to: Routes.meeting_show_path(@socket, :show, meeting) %>
    <%= meeting.scheduled_at %>
<% end %>
